{
  "llm_config": {
    "model_name": "gpt-4o",
    "verbose": true
  },
  "commondefs": {
    "replacement_strings": {
      "instructions_prefix": """
      You are responsible for a segment of a smart home system.
      Only answer inquiries or control devices that are directly within your domain.
      Do not attempt to control devices outside your assigned responsibility.
      Use the down-chain tools to perform all and any device control actions.
      Do not try to help for personal matters.
      """,
      "aaosa_instructions": """
When you receive a command or inquiry:
    0. If you are clearly not the right agent for this type of inquiry or command, don't perform any of the below steps and 
    respond that you're not relevant.
    1. Always call your tools to determine which down-chain agents in your tools are
       responsible for all or part of it.
    2. You will then ask these down-chain agents what they need in order to handle
       their part of the inquiry. Once the requirements are gathered, you will,
    3. Delegate the inquiry and the fulfilled requirements to the appropriate down-chain agents.
    4. Once all actions are performed and responses are received, 
       you will compile their responses and return the final action or status.
      """
    },
    "replacement_values": {
      "aaosa_call": {
        "description": "Depending on the mode, returns a natural language response or call a tool to control a device.",
        "parameters": {
          "type": "object",
          "properties": {
            "inquiry": {
              "type": "string",
              "description": "The control inquiry or command to execute (e.g., 'turn on', 'turn off', 'query status')."
            },
            "action": {
              "type": "string",
              "description": "The control action 'on', 'off', 'status', 'info' or None."
            },
            "mode": {
              "type": "string",
              "description": """
Indicates whether the agent is being asked to check status, execute a control command, 
or gather requirements to execute the command.
              """
            }
          },
          "required": [
            "inquiry",
            "action",
            "mode"
          ]
        }
      },
      "aaosa_command": """
      Execute the command and return a json block with the following fields:
        {
            "name": <your name>,
            "inquiry": <the inquiry>,
            "mode": <Determine | Fulfill>,
            "relevant": <Yes | No>,
            "tools: <[list of your downchain tools]>,
            "action": <None | 'on' | 'off' | 'status' | 'info'>,
            "response": <Your response to the inquiry or command>
        }
      """
    }
  },
  "tools": [
    {
      "name": "SmartHome 360 Assistant",
      "function": {
        "description": """
        You are SmartHome 360 Assistant, the central agent managing the smart home system.
        You handle inquiries and commands for the entire smart home and delegate device‑specific tasks 
        to specialized agents.
        """
      },
      "instructions": """
{instructions_prefix}
Your name is `SmartHome 360 Assistant`.
You are the top-level agent for the Smart Home system. Handle all device-related inquiries 
and commands by delegating them to the appropriate down-chain agents. Answer inquiries related to the smart home.
{aaosa_instructions}
If none of the agents or tools can help with the inquiry about a smart home device or appliance, 
just say `this device or appliance is not connected to the SmartHome 360 System at the moment`.
      """,
      "tools": ["LivingRoomLamp", "TVUnit", "Radio", "KitchenLights"]
    },
    {
      "name": "LivingRoomLamp",
      "function": "aaosa_call",
      "instructions": """
{instructions_prefix}
The name of this agent is LivingRoomLamp.
Always call your down-chain tools for controlling the living room lamp, including turning it on or off and querying its status.
{aaosa_instructions}
      """,
      "command": "aaosa_command",
      "tools": ["SmartHomeAPILampTool"]
    },
    {
      "name": "TVUnit",
      "function": "aaosa_call",
      "instructions": """
{instructions_prefix}
The name of this agent is TVUnit.
Always call your down-chain tools for controlling the TV unit, including turning it on or off and querying its status.
{aaosa_instructions}
      """,
      "command": "aaosa_command",
      "tools": ["SmartHomeAPITVTool"]
    },
    {
      "name": "Radio",
      "function": "aaosa_call",
      "instructions": """
{instructions_prefix}
The name of this agent is Radio.
Always call your down-chain tools for controlling the radio, including turning it on or off and querying its status.
{aaosa_instructions}
      """,
      "command": "aaosa_command",
      "tools": ["SmartHomeAPIRadioTool"]
    },
    {
      "name": "KitchenLights",
      "function": "aaosa_call",
      "instructions": """
{instructions_prefix}
The name of this agent is KitchenLights.
Always call your down-chain tools for controlling the kitchen wall lights as a group, 
including turning it on or off and querying its status. 
{aaosa_instructions}
      """,
      "command": "aaosa_command",
      "tools": ["SmartHomeAPIKitchenLightTool"]
    },
    {
      "name": "SmartHomeAPILampTool",
      "function": {
        "description": """
        Calls the FastAPI endpoint to control the Living Room Lamp.
        """,
        "parameters": {
                    "type": "object",
                    "properties": {
                        "action": {
                            "type": "string",
                            "description": "The desired action to perform for the device: on, off, info or status."
                        },
                    },
                    "required": ["action"]
        }
      },
      "class": "shapi_lrlamp.SmartHomeAPILampTool",
      "command": "Call the FastAPI endpoint to control the Living Room Lamp."
    },
    {
      "name": "SmartHomeAPITVTool",
      "function": {
        "description": """
        Calls the FastAPI endpoint to control the TV Unit.
        """,
        "parameters": {
                    "type": "object",
                    "properties": {
                        "action": {
                            "type": "string",
                            "description": "The desired action to perform for the device: on, off, info or status."
                        },
                    },
                    "required": ["action"]
        }
      },
      "class": "shapi_tv.SmartHomeAPITVTool",
      "command": "Call the FastAPI endpoint to control the TV Unit."
    },
    {
      "name": "SmartHomeAPIRadioTool",
      "function": {
        "description": """
        Calls the FastAPI endpoint to control the Radio.
        """,
        "parameters": {
                    "type": "object",
                    "properties": {
                        "action": {
                            "type": "string",
                            "description": "The desired action to perform for the device: on, off, info or status."
                        },
                    },
                    "required": ["action"]
        }
      },
      "class": "shapi_radio.SmartHomeAPIRadioTool",
      "command": "Call the FastAPI endpoint to control the Radio."
    },
    {
      "name": "SmartHomeAPIKitchenLightTool",
      "function": {
        "description": """
        Calls the FastAPI endpoint to control the Kitchen Lights.
        """,
        "parameters": {
                    "type": "object",
                    "properties": {
                        "action": {
                            "type": "string",
                            "description": "The desired action to perform for the device: on, off, info or status."
                        },
                    },
                    "required": ["action"]
        }
      },
      "class": "shapi_kitchenlights.SmartHomeAPIKitchenLightTool",
      "command": "Call the FastAPI endpoint to control the Kitchen Lights."
    }
  ]
}
